.rsp-container{
    width: 1100px;
    height: 600px;
    background-color: #353535;
    padding: 25px;
    font-weight: bold;
}

.heading{
    font-size: 50px;
    text-align: center;
}

.Rock{
    color: red;
    margin-right: 15px;
}
.Scissors{
    color: #fff;
    margin-right: 15px;
}
.Paper{
    color: lime;
}