.allgames-container{
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.game{
    width: 400px;
    height: 250px;
    background-size: 100% 100%;
    border-radius: 15px;
    transition: 0.5s;
}
.game:hover{
    transition: 0.5s;
    scale: 1.03;
    -webkit-box-shadow: 0px 0px 47px -5px #FFFFFF; 
    box-shadow: 0px 0px 47px -5px #FFFFFF;
}

.xo{
    background-image: url("../assets/xobg.jpg");
}
.squares{
    background-image: url("../assets/squaresbg.jpg");
}
.rps{ 
    background-image: url("../assets/rsp.webp"); 
}

.rocket{
    background-image: url("../assets/rocketbg.avif");
}